<div class="container">
  <!-- include partial here for searching -->
  <%= render partial: "hotel_search", locals: {url:'search'} %>
</div>

<hr>
<div class="container" id = "serched_hotels">
  <h4>Available Hotels : </h4>      
  <% if @hotels.blank? %>
    <h2>No record found </h2>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Rate</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% @hotels.try(:each) do |hotel| %>
          <tr class="<%= table_class %>">
            <td title="<%= hotel.amenities.join(",") %>"><%=hotel.name %></td>
            <td><%=hotel.currency %><%= hotel.room_rate %> per night</td>
            <td><%= hotel.address %>, <%= hotel.city %>,<%= hotel.state_province %>,<%= hotel.country %></td>
            <td><%= link_to('View Hotel',hotel_path(id:hotel.id,country:hotel.country,city:hotel.city,state:hotel.state_province),:method => 'GET',:style => "background-color: #337ab7;color: white;padding: 5px 15px;font-size: large;font-family: monospace;" ) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>
