<!DOCTYPE html>
<html>
<head>
  <title>HotelDetail</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |type, msg|%>
  <% if msg.present? %>
    <div class="flash <%= css_class_for type %>">
      <p class="fl"> <%= msg.try(:html_safe) %> </p>
    </div>
  <% end %>
<% end %>
<%= yield %>

</body>
</html>
